NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_replace_me
CLERK_SECRET_KEY=sk_test_replace_me
WAN22_MODAL_URL=https://johnsweber--video-models-wan-api.modal.run
LTX23_MODAL_URL=https://replace-me.modal.run
Z_IMAGE_MODAL_URL=https://replace-me.modal.run
MODAL_PROXY_TOKEN_ID=wk_replace_me
MODAL_PROXY_TOKEN_SECRET=ws_replace_me
LOCAL_IMAGE_GATEWAY_URL=https://replace-me.trycloudflare.com
LOCAL_IMAGE_GATEWAY_TOKEN=replace_me
